{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
   <div class="container">
      <h1 class="display-4">Enter Transaction ID to search</h1>
      <form method="POST" action="record" >
         <div class="form-group">
            <p><input type="text" name="transaction_id"></p>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
            {#
            <p><input type="submit" value="Submit"></p>
            #}
         </div>
      </form>
   </div>
   {% if length>0 %}
   <div class="card-deck" style="padding: 20px;">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Order Date</h5>
            <p class="card-text">{{rows[0].strftime("%d/%m/%Y")}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Dispute Register Date</h5>
            <p class="card-text">{{rows[1].strftime("%d/%m/%Y")}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Order ID</h5>
            <p class="card-text">{{rows[2]}}</p>
         </div>
      </div>
   </div>
   <div class="card-deck" style="padding: 20px;">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Transaction</h5>
            <p class="card-text">{{rows[3]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Ticket Number</h5>
            <p class="card-text">{{rows[4]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Return Type</h5>
            <p class="card-text">{{rows[5]}}</p>
         </div>
      </div>
   </div>
   <div class="card-deck" style="padding: 20px;">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">{{rows[6]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Category L1</h5>
            <p class="card-text">{{rows[7]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Amount</h5>
            <p class="card-text">{{rows[8]}}</p>
         </div>
      </div>
   </div>
   <div class="card-deck" style="padding: 20px;">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Seller name</h5>
            <p class="card-text">{{rows[9]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Dispute Reason</h5>
            <p class="card-text">{{rows[10]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Additional Comments</h5>
            <p class="card-text">{{rows[11]}}</p>
         </div>
      </div>
   </div>
   <div class="card-deck" style="padding: 20px;">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Case Status</h5>
            <p class="card-text">{{rows[12]}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Case closed date</h5>
            <p class="card-text">{{rows[13].strftime("%d/%m/%Y")}}</p>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Payment Status</h5>
            <p class="card-text">{{rows[14]}}</p>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock content %}