{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
   <div class="container">
      <h1 class="display-4">Upload your CSV file</h1>
      <form method="POST" action="/uploadfile" enctype="multipart/form-data" >
         <div class="form-group">
            <p><input type="file" name="file" class="btn btn-primary btn-lg"></p>
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
         </div>
      </form>
   </div>
</div>
{% endblock content %}